#map {
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

.narrativePanelHeader {
  display: block;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 60px;
  height: 115px;
  padding: 20px;
  z-index: 50;
  background: #ff5a5f;
  width: 20%;
  color: #ffffff;
}

.narrativePanelContent {
  opacity: 0.8;
  position: absolute;
  top: 175px;
  bottom: 0;
  right: 0;
  border: 20px solid;
  border-color: #ff5a5f;
  /* padding: 20px; */
  overflow: auto;
  height: auto;
  display: block;
  z-index: 47;
  background: #f5f5f5;
  width: 20%;
  background-clip: padding-box;
}

#neighborhood_filter {
  position: absolute;
  padding-top: 5px;
  height: 35%;
  display: block;
  width: 100%;
  color: black;
  font-size: 12px;
}
a {
  font-size: 13px;
  color: #ffffff;
}
h1 {
  text-align: center;
  top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 21px;
  color: #ffffff;
}

h2 {
  text-align: left;
  font-family: "Lato", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0%;
  font-weight: 500;
  font-size: 15px;
  color: #0f325a;
}
h3 {
  text-align: center;
  top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 21px;
  color: #ff5a5f;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: -16.2%;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

#chartTitle {
  position: absolute;
}
#barChart {
  position: relative;
  width: 90%;
  height: max-content;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  /* border: black; */
  border-width: 2px;
  background-color: rgb(224, 222, 222);
}
.bar {
  fill: #00a699;
  stroke: #00a699;
}
.bar:hover {
  fill: #ff5a5f;
  stroke: #ff5a5f;
  stroke-width: 4px;
}
#intro {
  position: absolute;
  color: black;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  /* border: black; */
  border-width: 2px;
  background-color: rgb(224, 222, 222);
  opacity: 0.9;
  width: 15%;
  height: 25%;
  bottom: 10px;
  overflow: auto;
  left: 10px;
  align-items: center;
  justify-content: center;
}
.streetview {
  background-size: contain;
  opacity: 1 !important;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 45%;
}
h5 {
  text-align: left;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  display: block;
}

.tick line {
  visibility: hidden;
}

button {
  color: #ffffff;
  font-size: small;
  background-color: #00a699;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  left: 35%;
  bottom: 2%;
}

button:hover {
  background-color: #ff5a5f;
}

.bg-light {
  background-color: rgb(224, 222, 222) !important;
}
.navbar-brand {
  top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 21px;
}

#key-words {
  position: relative;
  width: 90%;
  height: max-content;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  /* border: black; */
  border-width: 2px;
  background-color: rgb(224, 222, 222);
}

#related-neighborhoods {
  position: relative;
  width: 90%;
  height: max-content;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  /* border: black; */
  border-width: 2px;
  background-color: rgb(224, 222, 222);
}

.narrativePanelContainer {
  position: relative;
  height: max-content;
  padding-top: 15px;
}

.chip {
  color: white;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  padding: 3px;
  margin: 5px;
  display: inline-block;
  background-color: #ff5a5f;
}
.axis {
  font: 13px "Lato", sans-serif;
  color: #0f325a;
}

#scoreplace {
  padding: 10px;
}

.yelp {
  position: relative;
  height: 30%;
  width: 20%;
  background-color: #ff5a5f;
  opacity: 0.8;
  left: 5%;
}

.leaflet-control-attribution.leaflet-control {
  position: relative;
  width: 100%;
  height: 20%;
}
