#map {
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

.narrativePanelHeader {
  display: block;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 60px;
  height: 135px;
  padding: 20px;
  z-index: 50;
  background: #ffffff;
  width: 20%;
}

.narrativePanelContent {
  opacity: 0.8;
  position: absolute;
  top: 195px;
  bottom: 0;
  right: 0;
  padding: 0 20px 20px;
  overflow: auto;
  height: auto;
  display: block;
  z-index: 47;
  background: #f5f5f5;
  width: 20%;
}

#neighborhood_filter {
  position: absolute;
  height: 35%;
  display: block;
  width: 100%;
  color: black;
  font-size: 12px;
}
a {
  font-size: 13px;
}
h1 {
  text-align: center;
  top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 21px;
  color: #0f325a;
}

h2 {
  text-align: left;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #0f325a;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: -16.2%;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

#chartTitle {
  position: absolute;
  background-color: red;
}
#barChart {
  position: absolute;
  top: 5%;
}
.bar {
  fill: black;
  stroke: black;
}
.bar:hover {
  fill: yellow;
  stroke: yellow;
  stroke-width: 4px;
}
#intro {
  position: absolute;
  background-color: white;
  opacity: 0.8;
  width: 15%;
  height: 25%;
  bottom: 10px;
  left: 10px;
}
.streetview {
  background-size: contain;
  opacity: 1 !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 50%;
}
a {
  text-align: left;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #0f325a;
}